@import "vars"

/*==========  Desktop First  ==========*/

/* Medium Devices, Desktops */
@media only screen and (max-width : 1199px)
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 991px)
	/**
	 * Common Styles
	 */
	.h1
		font-size: 44px
	.h2
		font-size: 32px

	/**
	 * Popup style
	 */
	.popup-box.review
		padding: 40px 5% 5%
		.content
			width: 100%

	.popup-box.callback
		margin-top: 0

	/**
	 * Callback Form Style
	 */
	.callback
		margin-top: 40px

	/**
	 * About Section
	 */
	.s-about
		.h2
			margin-top: 40px
			text-align: center
		.skills-academic
			ul.skills-list
				margin-right: 0
				border: none
		.skills-academic
			ul.skills-list
				li.skills-item
					width: 20%

	/**
	 * Portfolio Section
	 */
	.s-portfolio
		.portfolio-item
			&-composition
				padding-left: 0
				.button
					margin:
							left: 0
							top: 15px

	/**
	 * Reviews Section
	 */
	.s-reviews
		.carousel-reviews
	.review
		.content
				width: 100%

/* Extra Small Devices, Phones */
@media only screen and (max-width : 767px)
	/**
	 * Common Styles
	 */
	.h1
		font-size: 36px

	.button
		display: block
		width: 70%
		padding:
			left: 5px
			right: 5px
		margin:
			left: auto !important
			right: auto !important
		&.button-big
				padding:
					left: 10px
					right: 10px

	/**
	 * Popup Style
	 */
	.popup-box
		&.callback, &.callback-success
			padding:
				left: 25px
				right: 25px

	/**
	 * Callback Form Style
	 */
	.callback
		padding:
			left: 25px
			right: 25px

	/**
	 * About Section
	 */
	.s-about
		ul.about-list
			font-size: 16px
		.skills-academic, .skills-today
			margin-top: 45px
			ul.skills-list
				li.skills-item
					width: 33%

	/**
	 * Nav Line
	 */
	.nav-line
		.logo, .phone
			text-align: center
			margin-bottom: 10px

	/**
	 * Portfolio Section
	 */
	.s-portfolio
		.portfolio-item
			padding: 50px 0
			&:nth-child(2)
				padding-top: 35px
			&-browser
				height: 280px
			&-composition
				.h3
					margin-top: 30px
			&-image
				&::after
					padding-top: 100px

	/**
	 * Reviews Section
	 */
	.s-reviews
		.carousel-reviews
			.owl-nav
				display: none
	.review
		.content
			p
				font-size: 16px

	/**
	 * Contacts Section
	 */
	.s-contacts
		.contacts
			margin-bottom: 40px

	/**
	 * Footer Section
	 */
	.s-footer
		.policy, .copy
			display: block
			float: none
			text-align: center
			padding-top: 5px

/* Custom Extra Small, Phones */
@media only screen and (max-width : 480px)
	/**
	 * Common Styles
	 */
	.h1
		font-size: 28px
	.h2
		font-size: 30px
	.h3
		font-size: 24px
	.h4
		font-size: 22px

	.button
		width: 90%

	/**
	 * Mobile Menu
	 */
	#my-menu
		ul.mm-listview
			li
				a:not(.mm-next)
					padding:
						top: 10%
						bottom: 10%

	/**
	 * About Section
	 */
	.s-about
		.skills-academic, .skills-today
			ul.skills-list
				li.skills-item
					width: 50%

	/**
	 * Reviews Section
	 */
	.s-reviews
		.carousel-reviews
	.review
		&-author
			min-height: 100px
			.review-photo
				width: 90px
				height: 90px
				box-shadow: 0 0 0 5px #F9F9F9
			.review-name, .review-url
				padding-left: 110px
			.review-name
				padding-top: 10px
				font-size: 18px
			.review-url
				font-size: 16px

	/**
	 * Contacts Section
	 */
	.s-contacts
		.contacts
			.contacts-data-list
				font-size: 21px
				li
					padding-left: 30px
					.fa
						top: 8px
						&.fa-mobile
							font-size: 30px
							top: 2px
							left: 3px


/* Custom Extra Small, iPhone Retina */
@media only screen and (max-width : 380px)
	/**
	 * Common Styles
	 */
	.h1
		font-size: 23px

	.button
		font-size: 15px
		width: 100%

	/**
	 * Popup style
	 */
	.popup-box.review
		.content
			p
				font-size: 15px

	.popup-box
		&.callback, &.callback-success
			padding:
				left: 15px
				right: 15px

	.popup-box.callback-success
		.h3
			margin-top: 10px
		p
			font-size: 15px
		.phone
			&-link
				font-size: 22px

	/**
	 * Callback Form Style
	 */
	.callback
		padding:
			left: 15px
			right: 15px

	/**
	 * Mobile Menu
	 */
	#my-menu
		ul.mm-listview
			font-size: em(20px)
			li
				a:not(.mm-next)
					padding:
						top: 6%
						bottom: 6%

	.nav-line
		.phone
			&-link
				font-size: 20px

	/**
	 * Header Section
	 */
	.s-header
		.s-welcome
			.welcome-composition
				.desc
					font-size: 17px

	/**
	 * Portfolio Section
	 */
	.s-portfolio
		.portfolio-item
			&-composition
				.portfolio-item-desc
					.portfolio-item-type
						padding-left: 5px
						font-size: 15px

	/**
	 * Reviews Section
	 */
	.s-reviews
		.carousel-reviews
	.review
		&-author
			.review-name, .review-url
				padding-left: 105px
			.review-name
				font-size: 16px
			.review-url
				font-size: 15px

	/**
	 * Contacts Section
	 */
	.s-contacts
		.why-list
			font-size: 16px
		.contacts
			.contacts-data-list
				font-size: 17px
				li
					padding-left: 24px
					.fa
						top: 6px
						&.fa-mobile
							font-size: 24px
							top: 4px
							left: 3px

/*==========  Mobile First  ==========*/

/* Custom Extra Small, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Custom Extra Small, Phones */
@media only screen and (min-width : 381px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 481px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

