@import "fonts"
@import "libs"
@import "vars"

/**
 * Common Style
 */
*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	color: #333

ul, li
	list-style-type: none
	padding-left: 0

a
	text-decoration: underline
	color: $accent
	transition: color .25s ease
	&:hover, &:focus
		color: darken($accent, 10%)

*:focus
	outline: none !important

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-right
	text-align: right

.text-left
	text-align: left

.text-center
	text-align: center

.h1, .h2, .h3, .h4, .h5, .h6
	display: block
	font-weight: bold
	margin:
		right: 0
		left: 0
	color: #474747
	line-height: 1.4
.h1
	font-size: em(48px)
	margin:
		top: 0.67em
		bottom: 0.67em
.h2
	font-size: em(36px)
	margin:
		top: 0.83em
		bottom: 0.83em
.h3
	font-size: em(28px)
	margin:
		top: 1em
		bottom: 1em
.h4
	font-size: em(24px)
	margin:
		top: 1.33em
		bottom: 1.33em
.h5
	font-size: em(20px)
	margin:
		top: 1.67em
		bottom: 1.67em
.h6
	font-size: em(17px)
	margin:
		top: 2.33em
		bottom: 2.33em

.button
	display: inline-block
	border: none
	color: #FFF
	text-decoration: none
	background-color: $accent
	margin-top: 25px
	padding: 15px 25px
	min-width: 225px
	font-size: em(17px)
	font-weight: bold
	letter-spacing: 1px
	border-radius: 10em
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	cursor: pointer
	&:focus, &:hover
		text-decoration: none
		color: #FFF
	&:hover
		background-color: lighten($accent, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32
	&.button-big
		padding: 17px 45px
		min-width: 245px
	&.button-no-fill
		background-color: transparent
		border: 3px solid $accent
		color: $accent
		padding: 12px 22px
		&:hover
			background-color: lighten($accent, 5%)
			border-color: lighten($accent, 5%)
			color: #FFF
	&.button-icon
		padding-left: 55px
		.fa
			position: absolute
			top: 10px
			left: 25px
			font-size: em(28px)
			&.fa-play-circle
				left: 22px
				font-size: em(30px)

.s-general
	position: relative
	padding: 70px 0
	background-color: #F8F8F8
	.s-title
		margin-top: 0
		text-align: center
.s-light
	background-color: #FFF
.s-dark
	background-color: #ECECEC
.s-inverse
	background-color: $main
	color: #FFF !important
	&.s-light
		background-color: lighten($main, 1.95)
	&.s-dark
		background-color: darken($main, 0.95)
	.h1, .h2, .h3, .h4, .h5, .h6
		color: #FFF !important
.s-overlay
	background-color: $main
	background-attachment: scroll
	background-size: cover
	background-repeat: no-repeat
	background-position: center top
	&::before
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		opacity: .85
		background-color: #FFF
	&.s-inverse
		&::before
			background-color: $main

/**
 * Mobile Menu
 */
#mobile-menu
	padding: 0
	.hamburger-box
		width: 34px
		.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
			width: 34px
			height: 4px
			border: none
			background-color: #FFF

#my-menu
	div.mm-panel
		text-align: center
		.photo
			overflow: hidden
			border-radius: 10em
			box-shadow: 0 0 0 10px #F9F9F9
			width: 180px
			height: 180px
			margin: 10px auto 0
			img
				width: 100%
	ul.mm-listview
		text-align: left
		font-size: em(20px)
		li
			&:hover, &.mm-selected
				a
					color: $accent
			a:not(.mm-next)
				padding:
					top: 6%
					bottom: 6%
					left: 14%
					right: 14%
				transition: color .25s ease

/**
 * Top Navigation
 */
.nav-line
	position: absolute
	top: 0
	left: 0
	z-index: 10
	width: 100%
	border: none
	padding-top: 40px
	background-color: transparent
	.phone
			float: right
			white-space: no-wrap
			&-link
				position: relative
				display: inline-block
				color: #FFF
				font-family: "Roboto", sans-serif
				font-weight: bold
				font-size: em(24px)
				line-height: 24px
				text-decoration: none
				padding-left: 23px
				.fa
					position: absolute
					top: -1px
					left: 0
					font-size: em(19px)

/**
 * Scroll Top Button Style
 */
.scroll-top
	display: block
	position: fixed
	right: 25px
	bottom: -100px
	background-color: #BDC3C7
	border-radius: 10em
	color: #FFF
	font-size: em(26px)
	width: 50px
	height: 50px
	text-align: center
	line-height: 50px
	z-index: 12
	transition: all .3s ease
	opacity: .3
	&::before
		font-family: "FontAwesome"
		content: "\f102"
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	&:hover
		color: #FFF
		opacity: .7
		cursor: pointer
	&.active
		bottom: 25px

/**
 * Preloader Style
 */
.preloader
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 100
	background-color: #445D70
	.animation
		position: relative
		left: 50%
		top: 50%
		margin:
			left: -55px
			top: -10px
		> div
			background-color: $accent
			height: 20px
			width: 20px
			margin-right: 10px
			border-radius: 10em
			display: inline-block
			animation: stretchdelay 0.7s infinite ease-in-out
			&:last-child
				margin-right: 0
		.circ2
			animation-delay: -0.6s
		.circ3
			animation-delay: -0.5s
		.circ4
			animation-delay: -0.4s
		.circ5
			animation-delay: -0.3s
@keyframes stretchdelay
	0%, 40%, 100%
		transform: translateY(-10px)
	20%
		transform: translateY(-20px)

/**
 * Popup Style
 */

.mfp-close-btn-in
	.mfp-close
		font-size: em(50px)
		right: 6px
		top: 6px
	.callback
		.mfp-close
			color: #FFF

.popup-box.review
		max-width: 900px
		width: 100%
		padding: 50px
		background-color: #ECECEC
		border-radius: 5px
		text-align: center
		margin:
			left: auto
			right: auto
		.content
			width: 90%

.popup-box.callback-success
		padding: 40px 35px
		background-color: #FFF
		border-radius: 5px
		text-align: center
		max-width: 460px
		margin:
			left: auto
			right: auto
		.h3
			color: #474747
			margin: 0 0 20px
		p
			color: #333
			font-size: em(17px)
		.phone
			&-link
				font-family: "Roboto", sans-serif
				color: #333
				font-weight: bold
				font-size: em(24px)
				text-decoration: none

/**
 * Callback Form Style
 */
.callback
	position: relative
	padding: 40px 55px
	max-width: 460px
	background-color: #2C3E50
	text-align: center
	border-radius: 5px
	color: #FFF
	font-size: em(15px)
	margin:
		left: auto
		right: auto
	.h3
		color: #FFF
		margin:
			top: 0
	label
		display: block
		text-align: left
		margin-top: 25px
	select
		margin-top: 1px
		padding: 10px 22px
		option
			color: #333
	input, textarea, select,
	.selectize-control .selectize-input,
	.selectize-control.single .selectize-input.input-active
		display: block
		background: #FFF
		border: none
		border-radius: 5px
		padding: 13px 25px
		font-size: em(17px)
		width: 100%
		transition: box-shadow .2s ease
		&:focus
			box-shadow: 0 0 0 4px $accent
	.selectize-control
		.selectize-input, .dropdown-active
			&:after
				position: absolute
				font-family: "FontAwesome"
				content: '\f107'
				border: none
				right: 30px
				top: 12px
	.selectize-control 
		.selectize-input
			box-shadow: none
			overflow: inherit
			line-height: inherit
			text-align: left
			&.dropdown-active
				&::before
					background-color: inherit
				&::after
					content: '\f106'
		.selectize-dropdown
			border: none
			.option
				padding: 10px 22px
				&.active
					background-color: lighten($accent, 15%)
	textarea
		resize: none
		height: 170px
		color: #333
		font-size: em(15px)
	label.checkbox
		position: relative
		display: inline-block
		cursor: pointer
		padding-left: 40px
		width: 100%
		&::before
			display: inline-block
			position: absolute
			content: ''
			left: 0
			top: 0
			cursor: pointer
			width: 30px
			height: 30px
			border-radius: 5px
			background-color: #FFF
			transition: background-color .2s ease
	input
		&[type='checkbox']
			display: none
			&:checked
				+ label.checkbox
					&::before
						background-color: $accent
						font-family: "FontAwesome"
						content: "\f00c"
						text-align: center
						line-height: 28px
						font-size: em(22px)
						color: #FFF

/**
 * Header Section
 */
.s-header
	min-height: 550px //For Full Screen Height
	height: 100vh //For Full Screen Height
	position: relative

	/**
	 * Welcome Section
	 */
	.s-welcome
		.welcome-composition
			display: table-cell
			vertical-align: middle
			height: 100vh
			width: 100vw
			.desc
				color: rgba(#FFF, .9)
				font-size: em(24px)

/**
 * About Section
 */
.s-about
	.about-photo
		overflow: hidden
		border-radius: 10em
		box-shadow: 0 0 0 10px #F3F3F3
		width: 260px
		height: 260px
		margin: 10px auto 0
		img
			width: 100%
	.h2
		margin-top: 0
	ul.about-list
		margin: 30px 0 0
		color: #666
		font-size: em(18px)
		li
			padding:
				left: 35px
				bottom: 10px
			position: relative
			transition: all .3s ease
			&:hover
				transform: scale(1.05)
				&::before
					color: $accent
			&::before
				position: absolute
				font-family: "FontAwesome"
				content: "\f00c"
				top: -7px
				left: 0
				width: 100%
				height: 100%
				font-size: em(24px)
				transition: color .3s ease
	.skills-today, .skills-academic
		margin-top: 65px
		.h4
			margin: 0
			text-align: center
		ul.skills-list
			padding: 0
			li.skills-item
				margin:
					left: -4px
					top: 20px
				display: inline-block
				height: 100px
				background-position: center center
				background-size: 100px 100px
				background-repeat: no-repeat
				transition: all .5s ease
				&:hover
					transform: translateY(-15px)
	.skills-academic
		ul.skills-list
			margin-left: -15px
			border-left: 2px dashed #DDD
			li.skills-item
				width: 50%
	.skills-today
		ul.skills-list		
			li
				width: 20%

/**
 * Portfolio Section
 */
.s-portfolio
	.portfolio-item
		padding: 70px 0
		border-bottom: 2px dashed #DDD
		&:nth-child(2)
			padding-top: 40px
		&:last-child
			padding-bottom: 0
			border: none
		&-browser
			position: relative
			min-height: 280px
			// height calculated in js script
			border-radius: 2px
			box-shadow: 0 0 15px #666
			background: #F1F1F1 url('img/browser_dots.png') left top no-repeat
			&::before
				font-family: "FontAwesome"
				content: "\f065"
				position: absolute
				top: 1px
				right: 3px
				width: 15px
				height: 100%
				font-size: em(13px)
				color: #C2C2C2
		&-image
			position: relative
			width: 100%
			height: 100%
			display: block
			cursor: pointer
			text-decoration: none
			background-size: cover
			background-repeat: no-repeat
			background-position: center 23px
			&:hover
				&::after
					opacity: .9
				&::before	
					opacity: .55
			&::before, &::after
				width: 100%
				height: 100%
				opacity: 0
				transition: opacity .5s ease
			&::before
				position: absolute
				content: ''
				background-color: $main
			&::after
				font-family: "FontAwesome"
				content: "\f00e"
				position: absolute
				top: 0
				left: 0
				font-size: em(64px)
				text-align: center
				padding-top: 150px
				color: #FFF
		&-composition
			padding-left: 20px
			.h3
				margin: 0
			.portfolio-item-desc
				margin-top: 10px
				.portfolio-item-type
					color: #999
					padding-left: 15px
			.portfolio-item-list-title
				display: block
				font-size: em(18px)
				font-weight: 600
				margin-top: 20px
			ul.my-own-deposit
				margin: 10px 0 0
				color: #666
				font-size: em(16px)
				li
					padding:
						left: 25px
						bottom: 10px
					position: relative
					&:hover
						&::before
							color: $accent
					&::before
						font-family: "FontAwesome"
						content: "\f046"
						position: absolute
						top: -4px
						left: 0
						width: 100%
						height: 100%
						font-size: em(20px)	
						transition: color .3s ease
			.button
				margin-right: 20px
			.button:last-child
				margin-right: 0

/**
 * Reviews Section
 */
.s-reviews
	.carousel-reviews
		margin-bottom: 50px
		.owl-dots
			position: absolute
			width: 100%
			text-align: center
			margin-top: 30px
			.owl-dot
				display: inline-block
				margin: 0 3px
				width: 14px
				height: 14px
				background-color: darken($main, 10%)
				border-radius: 10em
				cursor: pointer
				transition: background-color .25s ease
				&.active
					background-color: $accent
		.owl-nav
			color: $main
			position: absolute
			top: 0
			width: 100%
			z-index: 20
			> div
				position: absolute
				top: 160px
				font-size: em(60px)
				padding: 10px 15px // Чтобы в кнопку легче попасть курсором
				line-height: 0
				&:hover
					opacity: .6
				&.owl-prev
					left: -60px
				&.owl-next
					right: -60px
// Review needs to be outside parent for popup-reviews
.review
	overflow: hidden
	.container
		width: 100%
	&-author
		max-width: 440px
		min-height: 136px
		margin: 0 auto
		text-align: left
		.review-photo
			float: left
			overflow: hidden
			border-radius: 10em
			box-shadow: 0 0 0 8px #F9F9F9
			width: 120px
			height: 120px
			margin: 8px auto 0
			&-inner
				width: 100%
		.review-name, .review-url
			display: block
			padding:
				left: 145px
		.review-name
			padding:
				top: 20px
				bottom: 5px
			font-size: em(22px)
			line-height: 1.4
			font-weight: 600
	.content
		position: relative
		display: block
		overflow: hidden
		margin:
			top: 20px
			left: auto
			right: auto
		width: 80%
		padding: 0
		p
			margin-top: 0
			text-align: justify
			font-size: em(16px)
	.content-video
		&::before
			display: block
			content: ""
			padding-top: 56.25%
		iframe
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			width: 100%
			height: 100%
			border: 0


/**
 * Contacts Section
 */
.s-contacts
	.why-list
		position: relative
		font-size: em(18px)
		li
			padding:
				left: 40px
				bottom: 10px
			.count
				position: absolute
				display: block
				left: 0
				background-color: $accent
				border-radius: 10em
				height: 30px
				width: 30px
				line-height: 27px
				font-weight: bold
				font-size: em(20px)
				text-align: center
	.contacts
		margin: 
			top: 0
			bottom: 70px
		&-data-list
			font-size: em(24px)
			letter-spacing: 1px
			margin: 0
			li
				position: relative
				padding-left: 40px
				.fa
					position: absolute
					left: 0
					top: 10px
					&.fa-mobile
						font-size: em(24px)
						top: 3px
						left: 5px
		&-soc-list
			li
				display: inline-block
				height: 48px
				width: 48px
				margin-left: 14px
				margin-top: 12px
				&:first-child
					margin-left: 0
				a
					img
						width: 100%
		.phone-link, .phone-link:hover
			color: #FFF
			text-decoration: none

/**
 * Footer Section
 */
.s-footer
	padding: 13px 0
	background-color: #2C3E50
	a
		color: #FFF
		text-decoration: none
		&:hover
			text-decoration: underline
	.policy
		float: left
	.copy
		float: right
		b
			letter-spacing: 1px
			font-size: em(18px)


@import "media" // Всегда в конце
